/**
 * Base Variables
 */
$font-header: "Spoqa Han Sans", sans-serif;
$font-body: "Spoqa Han Sans", sans-serif;
$font-post: "Spoqa Han Sans", sans-serif;

$color-alpha: #84aff4;
$color-alpha--light: #b2d0ff;

$color-black: #0a0a0a;
$color-grey: #f8f9f9;
$color-white: #fff;

$mq-xs: 20em;
$mq-sm: 30em;
$mq-md: 54em;
$mq-lg: 64em;
$mq-xl: 76.5em;
$mq-xxl: 114em;

/**
 * Base Settings/Overwrite Normalize
 */
*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: $font-body;
  font-feature-settings: "liga" 0;
  font-size: 100%;
  line-height: 1.7;

  @media (min-width: $mq-xs) {
    font-size: 102.5%;
  }

  @media (min-width: $mq-sm) {
    font-size: 105%;
  }

  @media (min-width: $mq-md) {
    font-size: 107.5%;
  }

  @media (min-width: $mq-lg) {
    font-size: 110%;
  }

  @media (min-width: $mq-xl) {
    font-size: 115%;
  }

  @media (min-width: $mq-xxl) {
    font-size: 125%;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;

  font-family: $font-header;
}

h1 {
  $fontSize: 2.5em;
  margin-bottom: 0.55em;

  @media (min-width: $mq-md) {
    font-size: $fontSize;
  }

  @media (min-width: $mq-xl) {
    font-size: $fontSize + 0.5em;
  }
}

h2 {
  margin-top: 0.75em;
  margin-bottom: 0.35em;

  font-size: 1.75em;

  @media (min-width: $mq-md) {
    font-size: 2em;
  }
}

h3 {
  margin: 0.2em 0;
  font-size: 1.5em;
}

h4 {
  margin-bottom: 0.15em;

  font-size: 1.25em;
}

p {
  margin: 0.1rem;
}

a {
  color: $color-black;
  text-decoration: none;
  transition: color 0.4s ease-in-out;

  &:hover,
  &:active,
  &:focus {
    color: $color-alpha;
  }
}

figure {
  margin: 0;
}

img {
  display: inline-block;
  max-width: 100%;
}

blockquote {
  margin: 0;
  padding: 10px;
  // padding-left: 1em;
  border-left: 2px solid $color-alpha;

  font-family: $font-header;
  font-weight: 300;
  font-size: 0.9em;
  font-style: italic;
  background-color: #eef2f8;

  > p {
    margin: 0;
  }
}

cite {
  display: block;
  margin-top: 0.125em;

  font-family: $font-body;
  font-weight: 300;
  font-style: normal;

  &:before {
    content: "\2014 \0020";
  }
}

ol,
ul {
  margin: 0;
  padding: 0;
}

pre,
code {
  overflow: scroll;
  border-radius: 3px;
  font-size: 0.9em;
  border: 1px solid $color-alpha;
  > code {
    border: none;
  }
}

// pre {
//   padding: 1em;
// }
code {
  padding: 0.1em;
}

/**
 * Text Selection
 */
::selection {
  color: $color-white;
  background-color: $color-alpha;
  text-shadow: none;
}

hr {
  width: 70%;
  border: 0;
  height: 1px;
  background-image: linear-gradient(left, #f0f0f0, #8c8c8c, #f0f0f0);
}
